<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:06</td>   <td>0</td> <td title="&gt;&gt;google_home.beforeSuite()[pri:0, instance:testCases.google_home@5e5792a0]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:14</td>   <td>8158</td> <td>&nbsp;</td><td title="&gt;&gt;google_home.beforeTest()[pri:0, instance:testCases.google_home@5e5792a0]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:14</td>   <td>8173</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;google_home.beforeClass()[pri:0, instance:testCases.google_home@5e5792a0]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:14</td>   <td>8173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;google_home.beforeMethod()[pri:0, instance:testCases.google_home@5e5792a0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:14</td>   <td>8173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="google_home.goToMapsPage()[pri:0, instance:testCases.google_home@5e5792a0]">goToMapsPage</td> 
  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:54</td>   <td>47698</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;google_home.afterMethod()[pri:0, instance:testCases.google_home@5e5792a0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:54</td>   <td>47704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;google_home.beforeMethod()[pri:0, instance:testCases.google_home@5e5792a0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:58:54</td>   <td>47704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="google_home.goToMapsPage2()[pri:0, instance:testCases.google_home@5e5792a0]">goToMapsPage2</td> 
  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:59:08</td>   <td>61811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;google_home.afterMethod()[pri:0, instance:testCases.google_home@5e5792a0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:59:08</td>   <td>61811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;google_home.beforeMethod()[pri:0, instance:testCases.google_home@5e5792a0]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:59:08</td>   <td>61811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="google_home.goToMapsPage3()[pri:0, instance:testCases.google_home@5e5792a0]">goToMapsPage3</td> 
  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:59:20</td>   <td>73738</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;google_home.afterMethod()[pri:0, instance:testCases.google_home@5e5792a0]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:59:20</td>   <td>73738</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;google_home.afterClass()[pri:0, instance:testCases.google_home@5e5792a0]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:59:20</td>   <td>73738</td> <td>&nbsp;</td><td title="&lt;&lt;google_home.afterTest()[pri:0, instance:testCases.google_home@5e5792a0]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
<tr bgcolor="c7c2a6">  <td>18/06/12 16:59:20</td>   <td>73800</td> <td title="&lt;&lt;google_home.afterSuite()[pri:0, instance:testCases.google_home@5e5792a0]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@985397764</td>   <td></td> </tr>
</table>
