<h2>Reporter output</h2><table><tr><td>Browser Opened</td></tr>
<tr><td>Wait for page to Load</td></tr>
<tr><td>Options button is visible</td></tr>
<tr><td>Options Popup is visible</td></tr>
<tr><td>Google Maps Option is visible</td></tr>
<tr><td>Maps Search Box is visible</td></tr>
<tr><td>Search for the LocationSatellite</td></tr>
<tr><td>Maps Search Button is visible</td></tr>
<tr><td>Search Results are visible</td></tr>
<tr><td>Wait for page to Load</td></tr>
<tr><td>Options button is visible</td></tr>
<tr><td>Options Popup is visible</td></tr>
<tr><td>Google Maps Option is visible</td></tr>
<tr><td>Maps Search Box is visible</td></tr>
<tr><td>Search for the LocationMcdonald's</td></tr>
<tr><td>Maps Search Button is visible</td></tr>
<tr><td>Search Results are visible</td></tr>
<tr><td>Wait for page to Load</td></tr>
<tr><td>Options button is visible</td></tr>
<tr><td>Options Popup is visible</td></tr>
<tr><td>Google Maps Option is visible</td></tr>
<tr><td>Maps Search Box is visible</td></tr>
<tr><td>Search for the LocationDominos</td></tr>
<tr><td>Maps Search Button is visible</td></tr>
<tr><td>Search Results are visible</td></tr>
</table>